body{
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    color: #66FCF1;
    background-color: black;
    height: 100vh;



}
.answers,.zipCode{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    margin-top: 0px;

}
#yes, #no{
    padding: 20px;
}
.yes, .no, .zipCode{
border: solid 3px;
border-radius: 15px;
padding: 20px;
flex: 1;
text-align: center;
justify-self: center;
background-color: rgba(0, 217, 255, 0.386);
transition: .5s;
height: 80px;
color: white;

display: flex;          /* Enables Flexbox on the element */
    justify-content: center; /* Centers content horizontally */
    align-items: center;    /* Centers content vertically */
}
.yes:active, .no:active, .yes:hover, .no:hover{
    background-color:rgba(1, 150, 177, 0.918);
}

.no:visited{
    background-color:rgba(47, 255, 16, 0.918);
}

.links{
    text-align: center;
    margin-top: 1%;
    font-size: 2rem;
    color: rgb(255, 255, 255);

}
.howAbout{
    text-align: center;
    margin-top:60px;
    margin-bottom: 60px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

.yes:hover, .no:hover{
    transform: scale(1.2);
    cursor: pointer;


}

.title{
    text-align: center;
    padding: 20px;

    align-self: flex-start;

}
.titlemain{
    align-self: flex-start;
}

footer{
    font-size: 10px;
    align-self: center;
    position: absolute;  /* Positions the footer relative to the viewport */
    bottom: 0;        /* Aligns the footer to the bottom of the screen */         /* Aligns the footer to the right of the screen */
    padding: 2px;    /* Optional padding */

    border-radius: 5px;
}
